.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
    padding: 0.5rem 1rem;
    background-color: #000000da;
    color: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}


#main .nav .logo {
    flex: 1;
    font-size: 1rem;
    font-weight: bold;
}


#main .nav .search input{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin: 0 1rem;
    background-color: #f1f1f1c9;
    color: #000;
    font-size: 1rem;
    font-style: oblique;
}

#main .nav .search button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fdfdfd;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 0.5rem;
    
}

#main .nav .search button:hover{
    background-color: #0069d9;
    transform: translateY(-5px);
}





#main .logout button{
    background-color: #ff0000;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#main .logout button:hover{
    background-color: #ff0000c4;
    transform: translateY(-5px);
}

#main .repositories {

    background-color: #00000041;
    max-width: 70%;
    margin: 8rem auto;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

#main .repositories .title{
    font-size: 1.3rem;
    text-align: center;
}

#main .repositories .list{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

#main .repositories .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #0000001a;
    background-color: #fdfdfd;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;
}

#main .repositories .item .info{
    flex: 1;
}

#main .repositories .item .info .name{
    font-size: 1.2rem;
    font-style: italic;
}

#main .repositories .item button{
    background-color: #ff0000ab;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#main .repositories button:hover{
    background-color: #ff0000;
    transform: translateY(-5px);
}

#main .repositories .new {
    background-color: none;
    max-width: 480px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 8rem;
    border-radius: 5px;
}

#main .repositories .new input{
    flex: 2;
    margin-right: 0.5rem;
    font-size: 1rem;
    padding: 0.3rem;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #0000001a;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#main .repositories .new button{
    background-color: #007bff;
    color: #fdfdfd;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#main .repositories .new button:hover{
    background-color: #0069d9;
    transform: translateY(-5px);
}