#login {
    width: 100%;
    min-height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login .form {
    background-color: #f1f1f165;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

#login .field label {
    display: block;
}

#login .field input {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login .action{
    text-align: center;
    margin-top: 1rem;
}

#login .action button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#login .action  a:Link{
    text-decoration: none;
    color: #fff;
}
#login .action  a:visited{
    text-decoration: none;
    color: #fff;
}


#login .action button:hover {
    background-color: #0069d9;
    transform: translateY(-5px);

}
